body{
    background-color: hsl(0, 0%, 8%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
     font-family: "Inter", sans-serif;
}


.container{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:hsl(0, 0%, 12%);
    min-width: 300px;
    max-width: 375px;
    width: 90%;
    margin: 0 auto;
    padding: 1.5em;
    border-radius: 20px;
}

.avatar{
    border-radius: 100%;
    width: 90px

}

.name{
    color:white;
    font-size: 1.5em;
    font-weight: 500;

}

.location{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 0.9em;
}

.description{
    color:hsl(0, 0%, 80%)
}

 a:link{ 
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    color:white;
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
    min-height: 44px;
    text-align: center;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 5%;

 }

 a:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    cursor: pointer;
 }

 a:focus {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}

a:visited{
    color: orange;
}

 a:active{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
 }

@media (max-width: 375px) {
    .container {
        padding: 1em;
        width: 95%;
    }

        .name {
        font-size: 1.3em;
    }
    
    .description {
        font-size: 0.9em;
    }
}